<launch>
  <arg name="config_dir" default="" />
  <arg name="telemetry_config_file" default="" />
  <arg name="device_config_file" default="" />
  <arg name="destination_host" default="" />
  <arg name="destination_port" default="" />
  <arg name="link_status_topic" default="" />
  <arg name="diagnostics_topic" default="" />
  <node pkg="epgeneral_udp_telemetry" type="epgeneral_udp_telemetry_node.py" name="epgeneral_udp_telemetry" output="screen" required="true"
        args="--config-dir &quot;$(arg config_dir)&quot; --telemetry-config-file &quot;$(arg telemetry_config_file)&quot; --device-config-file &quot;$(arg device_config_file)&quot; --destination-host &quot;$(arg destination_host)&quot; --destination-port &quot;$(arg destination_port)&quot; --link-status-topic &quot;$(arg link_status_topic)&quot; --diagnostics-topic &quot;$(arg diagnostics_topic)&quot;" />
</launch>
