<launch>
  <!-- Select a profile explicitly. Old paired file arguments remain supported. -->
  <arg name="config_dir" default="" />
  <arg name="config_file" default="" />
  <arg name="device_config_file" default="" />
  <arg name="log_dir" default="" />

  <node pkg="epgeneral_mqtav" type="epgeneral_mqtav_node.py" name="epgeneral_mqtav" output="screen" required="true"
        args="--config-dir &quot;$(arg config_dir)&quot; --config-file &quot;$(arg config_file)&quot; --device-config-file &quot;$(arg device_config_file)&quot; --log-dir &quot;$(arg log_dir)&quot;" />
</launch>
